<!-- header -->
<header class="sticky top-0 bg-white z-40">
    <div class="w-full py-3 bg-slate-100 hidden md:block header-top" id="header-top">
        <div class="container">
            <div class="flex justify-between text-gray-400 text-sm">
                <div class="flex gap-5">
                    <div class="flex gap-2 items-center">
                        <i class="fa-solid fa-phone"></i>
                        <p>+84 919 616 224</p>
                    </div>
                    <div class="flex gap-2 items-center">
                        <i class="fa-solid fa-envelope"></i>
                        <p>pythagore@gmail.com</p>
                    </div>
                </div>
                <div class="flex gap-5">
                    <div class="flex gap-1 items-center">
                        <a href="#">Help</a>
                        <i class="fa-solid fa-question"></i>
                    </div>
                    <div class="flex gap-1 items-center">
                        <a href="#">Track Order</a>
                        <i class="fa-solid fa-question"></i>
                    </div>
                    <div class="flex gap-1 items-center">
                        <a href="#">English</a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="flex gap-1 items-center">
                        <a href="#">Dollar</a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full py-3 transition-all duration-300">
        <div class="container relative">
            <div class="flex justify-between items-center z-40">
                <div class="p-4 bg-blue-900 w-fit text-white font-bold rounded" id="link-to-home"> QB Group</div>
                <div class="flex items-center  text-gray-500 font-semibold hidden md:flex md:gap-5 lg:gap-8 z-10">
                    <div class="flex gap-2 items-center relative drop-down">
                        <div class="contents hover-drop-down">
                            <a href="#">Home</a>
                            <i class="fa-solid fa-chevron-down text-xs"></i>
                        </div>
                        <!-- drop down -->
                        <div
                            class=" p-4 border absolute top-full left-0 bg-white shadow-lg rounded w-[150px] drop-down-content">
                            <ul class="flex flex-col gap-4">
                                <li class="text-gray-400 text-sm hover:text-blue-900">Home 1</li>
                                <li class="text-gray-400 text-sm hover:text-blue-900">Home 2</li>
                                <li class="text-gray-400 text-sm hover:text-blue-900">Home 3</li>
                            </ul>
                        </div>
                        <!-- drop down -->
                    </div>
                    <div class="flex gap-2 items-center warp-drop-down drop-down">
                        <div class="contents hover-drop-down ">
                            <a href="#">Categories</a>
                            <i class="fa-solid fa-chevron-down text-xs"></i>
                        </div>
                        <!-- drop down -->
                        <div
                            class="absolute top-[64px] shadow-lg left-0 bg-white shadow-lg rounded p-4 w-full border drop-down-content">
                            <div class="grid grid-cols-4 gap-5">
                                <div class="">
                                    <h3 class="font-semibold text-blue-900">
                                        Smart Phone
                                    </h3>
                                    <div class="h-[1px] w-full bg-gray-200 mt-2"></div>
                                    <ul class="mt-2 flex flex-col gap-4">
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Phone</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Tablet</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Laptop</li>
                                    </ul>
                                </div>
                                <div class="">
                                    <h3 class="font-semibold text-blue-900">
                                        Laptop
                                    </h3>
                                    <div class="h-[1px] w-full bg-gray-200 mt-2"></div>
                                    <ul class="mt-2 flex flex-col gap-4">
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Phone</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Tablet</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Laptop</li>
                                    </ul>
                                </div>


                                <div class="">
                                    <h3 class="font-semibold text-blue-900">
                                        Smart Watch
                                    </h3>
                                    <div class="h-[1px] w-full bg-gray-200 mt-2"></div>
                                    <ul class="mt-2 flex flex-col gap-4">
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Phone</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Tablet</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Laptop</li>
                                    </ul>
                                </div>
                                <div class="">
                                    <h3 class="font-semibold text-blue-900">
                                        TV
                                    </h3>
                                    <div class="h-[1px] w-full bg-gray-200 mt-2"></div>
                                    <ul class="mt-2 flex flex-col gap-4">
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Phone</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Tablet</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Laptop</li>
                                        <li class="text-gray-400 text-sm hover:text-blue-900">Laptop</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- drop down -->
                    </div>
                    <div class="flex gap-2 items-center">
                        <a href="#">Products</a>
                        <i class="fa-solid fa-chevron-down text-xs"></i>
                    </div>
                    <div class="flex gap-2 items-center">
                        <a href="#">Blog</a>
                        <i class="fa-solid fa-chevron-down text-xs"></i>
                    </div>
                    <div class="flex gap-2 items-center">
                        <a href="#">Order</a>
                        <i class="fa-solid fa-chevron-down text-xs"></i>
                    </div>
                </div>
                <div class="flex gap-8 text-2xl text-gray-600">
                    <div class="relative">
                        <i class="fa-regular fa-user"></i>
                        <div class="contents" id="user"></div>
                    </div>
                    <div class="relative">
                        <i class="fa-regular fa-heart"></i>
                        <span
                            class="absolute -top-2 -right-3 w-5 h-5 rounded-full bg-red-500 text-white text-xs font-semibold flex justify-center items-center">3</span>
                    </div>
                    <div class="relative" id="show-cart-btn">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="contents" id="cart-quantity"></div>
                    </div>
                    <div class="relative md:hidden">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </div>
            <div class="header-bottom bg-white z-0" id="header-bottom">
                <div class="h-[1px] w-full bg-gray-200 mt-2 hidden md:block"></div>
                <div class="py-2 justify-between hidden md:flex relative">
                    <div
                        class="w-[48px] aspect-[1/1] bg-blue-900 text-white font-bold rounded grid place-items-center text-xl">
                        <i class="fa-solid fa-table-cells-large"></i>
                    </div>
                    <div class="relative wrap-input flex gap-2 items-center  h-[48px] border border-gray-100 p-4 text-gray-400 lg:absolute lg:top-2 lg:left-[50%] lg:translate-x-[-50%] md:relative"
                        id="wrap-input-search">
                        <input type="text" placeholder="Search" class="w-full outline-none  border-0 focus:ring-0"
                            id="input-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <div id="search-result-content" class="contents"></div>
                    </div>

                    <div
                        class="h-[48px] w-[200px] px-4 bg-blue-900 text-white font-bold rounded grid place-items-center text-xl">
                        <div class="flex gap-2 items-center justify-between w-full">
                            <div class="flex gap-2 items-center">
                                <i class="fa-solid fa-location-dot"></i>
                                <p class="text-[16px] font-semibold">HCM City</p>
                            </div>
                            <i class="fa-solid fa-chevron-down text-xs"></i>
                        </div>

                    </div>
                </div>
                <div class="h-[1px] w-full bg-gray-200  hidden md:block"></div>
            </div>

        </div>
    </div>
    <!-- cart -->
    <div class="contents" id="cart-side-bar"></div>
    <!-- cart -->
</header>
<!-- header -->